.indexContainer {
    background: #26272b;
}

.indexHeaderDiv {
    margin-top: 30px;
    margin-left: 15px;
    background: #26272b;
    color: #fff;
}
.App {
    background: #26272b;
}
html {
    background: #26272b;
}

.exampleTable {
    background: #fff;
    color: #000;
    margin-left: 25%;
    margin-right: 25%;
}

.storageList {
    background: #fff;
    color: #000;
}
.storageForm {
    color: #fff;
    width: 600px !important;
    text-align: center;
}
.signupForm {
    color: #fff;
    width: 400px;
    text-align: center;
}
.signupForm Label {
    margin: 5px 0px 5px 0px;
}

.loginForm {
    color: #fff;
    text-align: center;
    width: 400px;

}

.logOutBtn {
    font-size: 16px;
    border: 2px solid #fff;
    background: #585858;
}
.searchForm {
    color: #fff;
    width: 600px !important;
    text-align: center;
    padding-left: 23.5%;
    padding-right: 25%;
}
.itemAmount {
    width: 80px !important;
}
.searchInstructions {
    color: #e7dabe;
    text-align: center;
}
.loginInfoBox {
    background: #26272b;
    padding-top: 40px;
    padding-left: 30%;
    padding-right: 30%;
    color: #fff;

    text-align: center;
}

.homePageUserData {
    color: #fff;
    font-size: 16pt;
    background:  #26272b;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.userDataTable {
    background: #96979c;
    color: #000;
}
.userDataHeading {
    text-align: center;
}
.userDataList {
    background: #fff;
    color: #000;
}
.userLoanDataList {
    background: #fff;
}
.userDataContainer {
    color: #000;
    background:  #26272b;
}

.storageListHeader {
    background: #96979c;
    color: #000;
}
.StorageLabels {
    color: #fff;
}

.loginBtnList {
    list-style: none;
    padding-left: 0px;
}

.submitBtn-login, .submitBtn-signup {
    color: #fff;
    background: #191a1d;
    text-align: center;
    flex-direction: column;
    margin-bottom: 10px;
}

.pwRecoveryBtn {
    color: #fff;
    background: #191a1d;
    text-align: center;
    flex-direction: column;
    font-size: 10pt;
    padding: 5px 5px;
}

.signupModal, .loginModal, .passwordRecoveryModal {
    background: #26272b;
    color: #fff;
    text-align: center;
}

.signupModal Button, .loginModal Button, .passwordRecoveryModal Button {
    background: #191a1d;
    color: #fff;
    text-align: center;
    margin-right: 40%;
}


.regTooltip {
    display: default;
}

.regTooltip > .tooltip-inner {
    font-size: 10pt;
    margin: 0px 0px 5px 0px;
    color: #fff;
    background: #1b1a19;
}
    
.regTooltip > .arrow {
    display: none;
}

.regGuidePara {
    font-size: 10pt;
    margin: 0px 0px 5px 0px;
    display: default;
    color: #e7bebe;
}

@media (max-width: 575px) {
    .signupForm {
        width: 300px !important;
    }
    .loginForm {
        width: 300px !important;
    }
    .regGuidePara {
        display: default;
    }
    .storageForm {
        width: 300px;
    }
    .searchForm {
        width: 300px;
    }
}

@media (max-width: 767px) {

/*     .signupForm {
        width: 350px;
    }
    .loginForm {
        width: 350px;
    } */
}

@media (max-width: 991px) {
    .regTooltip {
        display: none;
    }
    .regGuidePara {
        display: default;
    }
    .signupForm {
        width: 350px;
    }
    .loginForm {
        width: 350px;
    }
    .storageForm {
        width: 500px;
    }
    .searchForm {
        width: 500px;
    }
}

@media (max-width: 1199px) {
    .regGuidePara {
        display: default;
    }
    .storageForm {
        width: 600px;
    }
    .searchForm {
        width: 600px;
    }
}

/* MIN-WIDTH */
@media (min-width: 992px) {

    .regGuidePara {
        display: none;
    }

}